#hook {
    background-color: red;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    display: flex;
}

article > p, article > img {
    flex-grow: 1;
}

header, footer {
    padding: 1em;
    background-color: blue;
    text-align: center;
}
nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}  
nav > ul > li {
    display: inline-block;
    padding: 0 1em;
    text-decoration: none;
}