body {
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    color: #573EEF;
    background-color: #F9F6EE;
}

#header {
    position: sticky;
    top: 0px;
}

#hook {
    background: no-repeat url(../images/econocom-office.jpg);
    background-size: cover;
    background-position-y: bottom;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 400px;
    padding-bottom: 100px;
}


#hook p {
    width: 600px;
    text-align: center;
    color: #573EEF;
    font-size: 20pt;
}

#hook a {
    padding: 15px;
    background-color: #F9D957;
    border-radius: 40px;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#presentation {
    color: white;
    background-color: #3E0D81;
    padding: 70px;
}

#presentation h1, #presentation p {
    text-align: left;
    width: 50%;
    margin: 20px auto;
}

.projet, .histoire {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 80%;
    margin: 40px auto;
}

.projet:nth-child(odd), .histoire:nth-child(odd) {
    flex-wrap: wrap;
}



.projet > *, .histoire > * {
    flex-basis: 50%;
    min-width: 600px;
}

.projet > article, .histoire > article {
    padding: 10px 100px;
    box-sizing: border-box;
}

.projet p, .histoire p {
    margin: 40px 0px;
}

.projet a {
    padding: 15px;
    background-color: #F9D957;
    border-radius: 40px;
    font-weight: bold;
    text-decoration: none;
}

hr {
    width: 80%;
}

.HB_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 40px 0px;
}

.hoverbox {
    margin: 0px;
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
}

.hoverbox:hover {
    background-color: #8727DB;
}

.HB_title {
    color: #8727DB;
    font-size: 22pt;
    margin: 0px;
}

.hoverbox:hover > .HB_title {
    color: #F9F6EE;
}

.HB_content {
    color: #F9F6EE;
    margin: 0px;
    margin-bottom: 5px;
}
.HB_content a {
    color: #F9F6EE;
    text-decoration: underline;
}

