body {
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    color: #573EEF;
}

#header {
    position: sticky;
    top: 0px;
}

#hook {
    background-color: #573EEF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hook p {
    width: 600px;
    text-align: center;
    color: white;
    font-size: 20pt;
}

#hook a {
    padding: 15px;
    background-color: #F9D957;
    border-radius: 40px;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.projet, #presentation, .histoire {
    display: flex;
    width: 80%;
    margin: 40px auto;
}

.projet > *, #presentation > *, .histoire > * {
    width: 50%;
}

.projet > article, .histoire > article {
    padding: 10px 100px;
    box-sizing: border-box;
}

.projet p, #presentation p, .histoire p {
    margin: 40px 0px;
}

.projet a {
    padding: 15px;
    background-color: #F9D957;
    border-radius: 40px;
    font-weight: bold;
    text-decoration: none;
}

header, footer {
    padding: 1em;
    background-color: #8727DB;
    text-align: center;
}

hr {
    width: 80%;
}

.HB_container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.hoverbox {
    margin: 0px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    border-radius: 20px;
}

.hoverbox:hover {
    background-color: #573EEF;
}

.HB_title {
    color: #573EEF;
}

.hoverbox:hover > .HB_title {
    color: #F9F6EE;
}

.HB_content {
    color: #F9F6EE;
}

