#hook {
    background-color: red;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    display: flex;
}

article > p, article > img {
    width:50%
}

iframe {
    height: 3em;
    width: 100%;
    border: none;
}

header, footer {
    height: 100%;
    background-color: blue;
    text-align: center;
}
nav{
    align-items: center;
    padding: 4rem 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
nav > ul > li {
    display: inline-block;
    padding: 0 1em;
    text-decoration: none;
}

.logoNav {
    height: 25px;
    width: 200px;
    justify-content: space-around;
}