@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&family=Nunito:wght@600;900&display=swap'); 
nav{
    align-items: center;
    padding: 2rem 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

nav > ul > li {
    display: inline-block;
    padding: 0 1em;
    text-decoration: none;
}

nav > ul > li > a {
    font-family: 'Nunito', 'Nunito Sans', sans-serif;
    font-weight: 900;
    font-size: larger;
    text-decoration: none;
    color: #F9F6EE;
    background-color: blueviolet;
    padding: 1em 2em 1em 2em;
    border-radius: 20px;
    margin: 10px;
}

.logoNav {
    height: 25px;
    width: 200px;
}

.contact{
    padding: 1em 3.5em 1em 3.5em;
}