nav{
    align-items: center;
    padding: 4rem 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
nav > ul > li {
    display: inline-block;
    padding: 0 1em;
    text-decoration: none;
}

.logoNav {
    height: 25px;
    width: 200px;
    justify-content: space-around;
}